In [22]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [23]:
df1 = pd.read_csv('stepsdata.csv', sep=';')
df1.head()

,id,20-6-2013,21-6-2013,22-6-2013,23-6-2013,24-6-2013,25-6-2013,26-6-2013,27-6-2013,28-6-2013,...,4-5-2014,5-5-2014,6-5-2014,7-5-2014,8-5-2014,9-5-2014,10-5-2014,11-5-2014,12-5-2014,13-5-2014
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,641.0,4045.0,2310.0,2480.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,25.0,4067.0,7192.0,154.0,8674.0,8275.0,850.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df2 = pd.read_csv('surveydata.csv')
df2.head()

,id,city,gender,age,hh_size,hh_type,education,height,weight,waist
0,1,Montpellier,male,25-34,2,couple,master or doctorate,183.0,62.0,78.0
1,2,Montpellier,female,25-34,2,couple,high school,163.0,60.0,75.0
2,3,Lyon,female,25-34,2,couple,master or doctorate,172.0,65.0,60.0
3,4,Lyon,male,25-34,3,single parent,bachelor,182.0,85.0,95.0
4,5,Bordeaux,male,25-34,2,couple,master or doctorate,177.0,70.0,81.0

In [25]:
both = pd.merge(df1, df2, on='id')
both.head(25)

both['waist'].describe()

count    928.000000
mean      85.794181
std       15.446036
min        0.000000
25%       77.000000
50%       85.000000
75%       94.000000
max      175.000000
Name: waist, dtype: float64

In [29]:
# This is the same plot but with waist sizes higher than 50 cm.

a = both[both['waist'] > 50]
a

,id,20-6-2013,21-6-2013,22-6-2013,23-6-2013,24-6-2013,25-6-2013,26-6-2013,27-6-2013,28-6-2013,...,13-5-2014,city,gender,age,hh_size,hh_type,education,height,weight,waist
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Montpellier,male,25-34,2,couple,master or doctorate,183.0,62.0,78.0
1,2,NaN,NaN,NaN,NaN,NaN,641.0,4045.0,2310.0,2480.0,...,NaN,Montpellier,female,25-34,2,couple,high school,163.0,60.0,75.0
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lyon,female,25-34,2,couple,master or doctorate,172.0,65.0,60.0
3,4,NaN,NaN,25.0,4067.0,7192.0,154.0,8674.0,8275.0,850.0,...,NaN,Lyon,male,25-34,3,single parent,bachelor,182.0,85.0,95.0
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Bordeaux,male,25-34,2,couple,master or doctorate,177.0,70.0,81.0
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lyon,male,45-54,1,single,bachelor,180.0,81.0,98.0
6,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Bordeaux,female,25-34,1,single,master or doctorate,160.0,62.0,79.0
7,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lyon,female,35-44,3,single parent,bachelor,153.0,40.0,60.0
8,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Bordeaux,female,25-34,3,family,master or doctorate,175.0,71.0,85.0
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lyon,female,25-34,3,family,high school,165.0,68.0,92.0
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lyon,male,55-64,2,single parent,bachelor,175.0,82.0,96.0
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lyon,female,25-34,1,single,master or doctorate,165.0,60.0,73.0
12,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lyon,female,45-54,3,single parent,vocational,160.0,77.0,107.0
13,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lyon,female,55-64,1,single,master or doctorate,160.0,64.0,82.0
14,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lyon,female,45-54,5,family,high school,176.0,96.0,103.0
15,16,2898.0,8108.0,3478.0,3740.0,2957.0,2164.0,15.0,3434.0,7614.0,...,NaN,Lyon,male,55-64,1,single,vocational,173.0,81.0,104.0
16,17,NaN,NaN,NaN,NaN,108.0,4823.0,2413.0,14412.0,13256.0,...,NaN,Bordeaux,male,25-34,2,couple,master or doctorate,180.0,70.0,80.0
17,18,20.0,16924.0,18357.0,24613.0,1157.0,34381.0,12722.0,NaN,976.0,...,NaN,Lille,female,<25,3,couple,bachelor,165.0,58.0,80.0
18,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lyon,male,45-54,2,couple,vocational,178.0,60.0,78.0
19,20,NaN,112.0,8251.0,6290.0,12045.0,11020.0,11247.0,11646.0,6997.0,...,NaN,Lyon,female,45-54,1,single,high school,168.0,72.0,90.0
20,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5263.0,...,NaN,Lyon,male,25-34,2,couple,bachelor,172.0,74.0,97.0
21,22,NaN,NaN,NaN,NaN,NaN,3194.0,9175.0,8728.0,10580.0,...,NaN,Lyon,male,25-34,1,single,master or doctorate,183.0,75.0,87.0
22,23,NaN,17131.0,16267.0,7009.0,8386.0,10891.0,12935.0,5551.0,10260.0,...,NaN,Lille,male,25-34,2,other,high school,175.0,58.0,76.0
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lille,male,<25,2,other,bachelor,176.0,70.0,60.0
24,25,NaN,2213.0,8958.0,6302.0,4988.0,7616.0,14892.0,5850.0,5529.0,...,NaN,Lyon,male,35-44,3,family,master or doctorate,179.0,78.0,97.0
25,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lyon,male,35-44,4,family,bachelor,180.0,88.0,102.0
26,27,NaN,10381.0,14467.0,10212.0,9456.0,5673.0,8032.0,11933.0,12748.0,...,NaN,Lille,female,25-34,1,single,master or doctorate,163.0,56.0,85.0
27,28,NaN,14070.0,20490.0,4700.0,NaN,804.0,6091.0,3182.0,2062.0,...,NaN,Lyon,male,25-34,1,single,master or doctorate,181.0,69.0,83.0
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7129.0,...,NaN,Lille,male,25-34,2,couple,master or doctorate,173.0,70.0,82.0
29,30,NaN,8072.0,25307.0,17925.0,11185.0,NaN,7534.0,7222.0,3354.0,...,NaN,Lyon,male,25-34,1,single,master or doctorate,187.0,93.0,106.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899,900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lyon,female,25-34,2,couple,bachelor,160.0,60.0,79.0
900,901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lille,male,25-34,3,other,master or doctorate,172.0,66.0,89.0
901,902,NaN,NaN,6009.0,3376.0,50.0,4422.0,9781.0,4881.0,1064.0,...,NaN,Lyon,female,55-64,2,single parent,master or doctorate,171.0,88.0,112.0
902,903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Bordeaux,female,35-44,4,family,bachelor,157.0,55.0,87.0
903,904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lille,female,25-34,2,couple,bachelor,180.0,68.0,77.0
904,905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lille,female,35-44,2,single parent,bachelor,163.0,73.0,99.0
905,906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lyon,female,<25,1,single,master or doctorate,170.0,55.0,75.0
906,907,NaN,16008.0,16594.0,16491.0,3787.0,10556.0,22.0,13609.0,10591.0,...,NaN,Lyon,female,45-54,5,family,master or doctorate,168.0,63.0,90.0
907,908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lyon,female,45-54,2,couple,high school,154.0,64.0,91.0
908,909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Bordeaux,female,25-34,2,couple,master or doctorate,172.0,58.0,71.0
909,910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Bordeaux,male,35-44,2,couple,master or doctorate,180.0,70.0,88.0
910,911,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Montpellier,female,35-44,4,family,bachelor,168.0,61.0,78.0
911,912,NaN,NaN,NaN,196.0,4502.0,4587.0,16656.0,5420.0,4664.0,...,NaN,Lyon,male,45-54,3,family,master or doctorate,178.0,116.0,120.0
912,913,NaN,NaN,NaN,NaN,7081.0,5490.0,5814.0,12422.0,8350.0,...,NaN,Bordeaux,female,35-44,3,family,bachelor,160.0,66.0,92.0
913,914,NaN,NaN,NaN,NaN,4490.0,15733.0,4457.0,5962.0,9546.0,...,NaN,Lyon,female,25-34,1,single,master or doctorate,161.0,55.0,68.0
914,915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lyon,female,25-34,2,couple,master or doctorate,165.0,57.0,90.0
915,916,NaN,NaN,10334.0,6238.0,12522.0,34275.0,11321.0,4978.0,12931.0,...,NaN,Lyon,male,45-54,5,family,master or doctorate,173.0,66.0,62.0
916,917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Bordeaux,male,25-34,3,family,bachelor,189.0,88.0,81.0
917,918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lyon,male,25-34,3,family,master or doctorate,185.0,97.0,106.0
918,919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Montpellier,male,35-44,3,family,high school,190.0,92.0,93.0
919,920,NaN,13377.0,7823.0,4551.0,11185.0,10371.0,18535.0,11966.0,15248.0,...,NaN,Lille,female,25-34,2,couple,bachelor,163.0,54.0,73.0
920,921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lyon,male,55-64,4,family,bachelor,166.0,90.0,109.0
921,922,NaN,NaN,NaN,NaN,NaN,NaN,5577.0,12994.0,6520.0,...,NaN,Lille,male,35-44,2,couple,bachelor,174.0,78.0,99.0
922,923,NaN,NaN,NaN,3161.0,9232.0,12121.0,11115.0,182.0,7785.0,...,NaN,Lyon,female,25-34,1,single,master or doctorate,169.0,53.0,60.0
923,924,NaN,20488.0,4204.0,5677.0,5574.0,11386.0,17187.0,11824.0,20440.0,...,NaN,Bordeaux,male,35-44,4,family,bachelor,165.0,69.0,86.0
924,925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Bordeaux,male,25-34,5,family,high school,177.0,69.0,88.0
925,926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Bordeaux,male,35-44,1,single,bachelor,172.0,66.0,81.0
926,927,NaN,NaN,NaN,NaN,1730.0,1730.0,NaN,NaN,NaN,...,NaN,Lyon,female,45-54,3,family,primary,169.0,108.0,108.0
927,928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Montpellier,female,35-44,1,single,master or doctorate,167.0,64.0,85.0
928,929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lille,male,25-34,2,couple,bachelor,190.0,83.0,89.0